.treatments {
	padding: 15px;
	border: 1px solid rgba(34,36,38,.15);
	margin-bottom: 15px;
}

.treatments div:first-child {
	margin-bottom: 7.5px;
}

#edit {
	margin-bottom: 0!important;
	height: auto!important;
	margin-left: 30px!important;
	color: #163C7D!important;
}

#edit i {
	margin-right: 10px!important;
}