.login {
	position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.login button {
	background: #03ace8	!important;
}

.login button:hover {
	background-image: linear-gradient(to bottom, #03ace8, #5bcaf0)!important;
}

.login > div {
	position: absolute;
	left: calc(50% - 215px);
}

.login > img {
	width: 100%;
	height: 100%;
}

.login-button {
	color: #03ace8;
}

.my-header span{
	color: #1e4ea1!important;
	margin-left: 15px;
}

.my-header {
	display: flex;
  align-items: center;
  justify-content: center;
}